{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The main content area on the homepage }}
<main class="content" role="main">
    
    {{! Each post will be output using this markup }}
    {{#foreach posts}}
    
        <div class="row">
            <div class="col-sm-2">
                <div class=" index-date">
                    <span class="label label-primary">{{date format="DD"}} <small>{{date format="MMM"}}</small>
                        <time datetime="{{date format='YYYY-MM-DD'}}"></time>
                    </span>
                </div>
            </div>
            <div class="col-sm-10">
                <article>
                    <header class="post-header">
                        <h1><a href="{{url}}">{{{title}}}</a></h1>
                        {{tags separator=" · " prefix="<div class='post-meta text-right'>" postfix="</div>"}}
                    </header>
                </article>
            </div>
        </div>
        {{#if @last}}
        {{else}}
            <hr class="post-index" />
        {{/if}}

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

</main>