{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The main content area on the homepage }}
<main class="content" role="main">
    
    {{! Each post will be output using this markup }}
    {{#foreach posts}}
    
        <div class="row">
            <div class="col-xs-2">
                <h3>
                    {{date format="DD"}}
                    <br />
                    <small>{{date format="MMM"}}</small>
                    <time datetime="{{date format='YYYY-MM-DD'}}"></time>
                </h3>
            </div>
            <div class="col-xs-10">
                <article class="">
                    <header class="post-header">
                        <h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
                        <p class="text-right"><span class="post-meta">{{tags separator=" · "}}</span></p>
                    </header>
                </article>
            </div>
        </div>

        <hr />

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

</main>