{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

<main class="content" role="main">

    <article class="{{post_class}}">

        {{#post}}

        <div class="post-header">
            <h1>{{{title}}}</h1>
        </div>
        
        <section class="post-content">
            {{content}}
        </section>

        <footer class="post-footer">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <section class="author">
                            <div class="author-image" style="background-image: url({{author.image}})">Blog Logo</div>
                            <div class="author-info">
                                {{#if author.website}}
                                    <h4><a href="{{author.website}}" rel="author"></a>{{author.name}}</h4>
                                {{else}}
                                    <h4>{{author.name}}</h4>
                                {{/if}}
                                <p class="bio">{{author.bio}}</p>
                                
                                {{> social-links }}
                                
                                <ul class="author-meta clearfix">
                                    {{#if author.location}}<li>{{author.location}}</li>{{/if}}
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-sm-11">
                        <p class="text-right">
                            <a class="btn btn-info" href="/"><small><i class="fa fa-angle-double-left"></i><span class="hidden-xs">&nbsp;All posts</span></small></a>
                        </p>
                    </div>
                </div>

            </footer>

        {{/post}}

    </article>

</main>
