{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The main content area on the homepage }}
<main class="content" role="main">

    <header class="tag-archive-header row">
        <div class="col-xs-10">
            <h4>Posts about <strong>{{tag.name}}</strong></h4>
        </div>
        <div class="col-xs-2 text-right">
            <p>
                <a class="btn btn-info" href="/"><i class="fa fa-angle-double-left"></i><span class="hidden-xs hidden-sm">&nbsp;All posts</span></a>
            </p>
        </div>
    </header>
    
    {{! Each post will be output using this markup }}
    {{#foreach posts}}

        <div class="row">
            <div class="col-xs-2">
                <div class=" index-date">
                    <span class="label label-primary">{{date format="DD"}} <small>{{date format="MMM"}}</small>
                        <time datetime="{{date format='YYYY-MM-DD'}}"></time>
                    </span>
                </div>
            </div>
            <div class="col-xs-10">
                <article>
                    <header class="post-header">
                        <h2><a href="{{url}}">{{{title}}}</a></h2>
                    </header>
                </article>
            </div>
        </div>

        <hr class="post-index" />

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

</main>